{% extends "layout2.html" %}

{% block title %}About the Party with Me Project{% endblock %}

{% block content %}
    <main>
        <section class="about">
            <h2>About the Party with Me Project</h2>
            <p>The Party with Me project was inspired by the way the world has changed. Everyone uses ridesharing apps to get to their destination, inviting strangers into their lives. Why not invite them to party with you instead?</p>
            <p>Since 2023, empowered by Emdinga Mbhamali.</p>
            <p>Disclaimer: This is a demo application for educational purposes.</p>
        </section>
    </main>
{% endblock %}
