<!DOCTYPE html>

{% extends 'layout.html' %}

{% block content %}

  <div class="container">
    <h2>Create an Event</h2>

    <!-- Create Event Form -->
    <form id="event-creation-form" method="post" action="{{ url_for('create_event') }}">
      <div class="form-group">
        <label for="title">Event Title:</label>
        <input type="text" id="title" name="title" required>
      </div>

      <div class="form-group">
        <label for="date">Event Date:</label>
        <input type="date" id="date" name="date" required>
      </div>

      <div class="form-group">
        <label for="location">Event Location:</label>
        <input type="text" id="location" name="location" required>
      </div>

      <button type="submit" class="btn">Create Event</button>
    </form>

    <!-- Display events and RSVP links -->
    <ul>
      {% for event in events %}
        <li>
          <p>{{ event.title }} - {{ event.date }} - {{ event.location }}</p>
          <!-- Include event_id when generating the URL for rsvp -->
          <a href="{{ url_for('rsvp', title=event_data.title) }}" class="btn">RSVP</a>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}

