<!DOCTYPE html>

{% extends 'layout.html' %}

{% block content %}

  <div class="container">
    <h2>Events Created</h2>

    {% for event in events %}
      <h3>{{ event.title }}</h3>
      <p>Date: {{ event.date }}</p>
      <p>Location: {{ event.location }}</p>
      <p>RSVPs: {{ g.rsvps.get(event.title, 0) }}</p>
      <li><a href="{{ url_for('rsvp', title=event.title) }}" class="btn">RSVP</a></li>
      {% if rsvps_count[event.id] > 0 %}
      	<a href="{{ url_for('event_details', event_id=event.id) }}" class="btn">Event Details</a>
      {% endif %}
      <hr>
    {% endfor %}

  </div>

{% endblock %}

