<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party with Me</title>
    <link rel="stylesheet" href="{{ templates/static/style.css('static', filename='css/style.css') }}">
</head>
<body>

  <header class="header">
    <h1>PARTY WITH ME</h1>
    <div class="cover image">
	    <img src="images/party-with-me.png" alt="Header image">
    </div>
  </header>

  <nav class="container">
	  <ul>
		  <li><a href="{{ templates/layout.html('home') }}" class="btn">Home</a></li>
		  <li><a href="{{ templates/create_event.html('create_event') }}" class="btn">Create Event</a></li>
		  <li><a href="{{ templates/event_created.html('event_created') }}" class="btn">Event created</a></li>
		  <li><a href="{{ templates/rsvp.html('rsvp') }}" class="btn">RSVP</a></li>
	  </ul>
  </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>

</body>
</html>

