<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party with Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <header class="header">
    <h1>PARTY WITH ME</h1>
  </header>

  <nav class="container">
	  <ul>
		  <li><a href="{{ url_for('home') }}" class="btn">Home</a></li>
		  <li><a href="{{ url_for('create_event') }}" class="btn">Create Event</a></li>
		  <li><a href="{{ url_for('event_created') }}" class="btn">Event created</a></li>
		  <li><a href="{{ url_for('rsvp') }}" class="btn">RSVP</a></li>
	  </ul>
  </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>

</body>
</html>

